<% include ./partials/header %>

<h1> Login! </h1>

<form action="/login" method="post">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<button>Sign Up</button>
</form>

<% include ./partials/footer %>