<% include partials/header %>

<h1> Enter the details of new campground</h1>
<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button> Submit!</button>
</form>

<% include partials/footer %>
