<% include ../partials/header %>

        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1> Welcome to YelpCamp!</h1>
                    <p>View our hand-picked campgrounds from all over the world</p>
                    <p>
                      <a class="btn btn-primary" href="/campgrounds/new"> Add a new campground</a>
                    </p>
                    </div>
            </header>
            
       <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
            <div class= "col-md-3" "col-sm-6" >
                <figure class="figure">
                    <img src = "<%= campground.image %>" class= "img-thumbnail">
                    <figcaption class="figure-caption">
                         <%= campground.name %>  <a href="/campgrounds/<%= campground._id %>" > (more ..</a>
                     </figcaption>
                </figure>                
                
           </div>
            <% }); %> 
            
            </div>
    
         
    
    </div>
<% include ../partials/footer %>
